[submodule "Blackbird"]
	path = Blackbird
	url = git@github.com:0-Sacha/Blackbird.git
[submodule "PremakeUtilities"]
	path = PremakeUtilities
	url = git@github.com:0-Sacha/PremakeUtilities.git
[submodule "ProjectCore"]
	path = ProjectCore
	url = git@github.com:0-Sacha/ProjectCore.git
[submodule "LittleECS"]
	path = LittleECS
	url = git@github.com:0-Sacha/LittleECS.git
